@{
    ViewData["Title"] = "Dashboard Artista";
}

<!-- Font Awesome para los iconos -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<link rel="stylesheet" href="~/css/dashboardArtista.css">
<div class="dashboard-page">
    <div class="dashboard-container">
        <h2 class="dashboard-title">Bienvenido al Dashboard, @User.Identity.Name</h2>

        <div class="row">
            <!-- Gestión de Musicas -->
            <div class="col-md-4">
                <div class="card shadow-sm">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Gestión de Música</h5>
                    </div>
                    <div class="card-body">
                        <p>Sube tu propia canción aquí</p>
                        <a asp-controller="Canciones" asp-action="Subir" class="btn btn-outline-primary">
                            <i class="fas fa-upload"></i>
                            Sube tu canción
                        </a>
                    </div>
                </div>
            </div>

            <!-- Gestión de Albums -->
            <div class="col-md-4">
                <div class="card shadow-sm">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Gestión de Álbumes</h5>
                    </div>
                    <div class="card-body">
                        <p>Crea tu propio álbum</p>
                        <a asp-controller="Albums" asp-action="Create" class="btn btn-outline-primary">
                            <i class="fas fa-plus"></i>
                            Crea tu álbum
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <a asp-controller="Home" asp-action="Index" class="eva-btn">
            <i class="fas fa-arrow-right"></i>
            LogOut
        </a>

        <div class="mt-4">
            <h5 class="section-title">Gracias por ser parte del Equipo BeatHouse</h5>
        </div>
    </div>
</div>
