@{
    ViewData["Title"] = "Dashboard Artista";
}

<h2>Bienvenido al Dashboard, @User.Identity.Name</h2>

<!-- Gestión de Musicas -->
<div class="col-md-4">
    <div class="card shadow-sm">
        <div class="card-header">
            <h5 class="card-title mb-0">Gestión de Musica</h5>
        </div>
        <div class="card-body">
            <p>Sube tu propia canción aquí</p>
            <a asp-controller="Canciones" asp-action="CancionSubir" class="btn btn-outline-primary">Sube tu cancion</a>
        </div>
    </div>
</div>

<!-- Gestión de Musicas -->
<div class="col-md-4">
    <div class="card shadow-sm">
        <div class="card-header">
            <h5 class="card-title mb-0">Gestión de Albums</h5>
        </div>
        <div class="card-body">
            <p>Crea tu propio album</p>
            <a asp-controller="Albums" asp-action="Create" class="btn btn-outline-primary">Crea tu album</a>
        </div>
    </div>
</div>

<div class="mt-4">
    <h5>Mis Álbumes y Canciones</h5>
    <p>Aquí podrás ver todos los álbumes y canciones que has subido.</p>
    <!-- Aquí se pueden listar las canciones y álbumes subidos del artista -->
</div>

