@model IEnumerable<Spotify.Modelos.Cancion>

@{
    ViewData["Title"] = "Tus canciones";
}

<div class="particles"></div>
<link rel="stylesheet" href="~/css/playlistsIndex.css">

<div class="main-container">
    <h1 class="page-title">Canciones</h1>

    @if (!Model.Any())
    {
        <div class="empty-state">
            <div class="empty-icon">
                <i class="fas fa-music"></i>
            </div>
            <h2>No tienes un canciones aún</h2>
        </div>
    }
    else
    {
        <div class="playlists-grid">
            @foreach (var cancion in Model)
            {
                <div class="playlist-card">
                    <div class="playlist-header">
                        <h3 class="playlist-name">@cancion.Titulo</h3>
                        <div class="playlist-info">
                            <span class="creation-date">
                                <i class="fas fa-calendar"></i>
                                @cancion.Duracion
                            </span>
                            <span class="song-count">
                                <i class="fas fa-music"></i>
                                @cancion.Genero
                            </span>
                        </div>
                    </div>

                </div>
            }
        </div>
    }
    @* Boton que regresa al home *@
    <a asp-controller="Home" asp-action="DashboardAdmin" class="create-btn">
        <i class="fas fa-home"></i> Volver al Home
    </a>

</div>
